<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andnet.gazeta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".Activityies.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".Activityies.SplashScreen"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Preference.SettingActivity"
            android:theme="@style/SettingTheme" />
        <activity android:name=".Activityies.LibDetailActivity" />

        <service
            android:name=".Background.NewsReaderService"
            android:exported="false" />

        <receiver
            android:name=".Background.NewsBroadCastReciver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".Activityies.NewsDetailActivity" />

        <activity android:name=".Activityies.AboutActivity">
            <intent-filter>
                <action android:name="com.thegazeta.news.AboutActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Activityies.CurrencyActivity"></activity>

        <activity android:name=".Activityies.CatChooser"/>

        <activity android:name=".Activityies.SourceCatChooser"/>


    </application>

</manifest>